@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes carruselAni {
    33%{
        transform: translateX(-100%);
    }
    66%{
        transform: translateX(-200%);
    }
    100%{
        transform: translateX(-300%);
    }
}
.animacion_main_background {
    animation: animacion_background linear 15s infinite;
}

@keyframes animacion_background {
    100% {
        transform: translateY(-43%);
    }
}
.carrusel {
    animation: carruselAni linear 20s infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
.spin {
    animation: spin 4s linear infinite;
}

.sign_cristal{
    background: rgba(95, 74, 35, 0.6);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
}